[workspace]
members = [
    "derive",
    "tests/serde_alloc",
    "tests/serde_no_alloc",
    "tests/fmt",

    "json",
    "json/benches",
    "json/tests",
]

[package]
name = "sval"
version = "0.5.1"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]
edition = "2018"
documentation = "https://docs.rs/sval"
description = "A no-std, object-safe serialization framework"
repository = "https://github.com/sval-rs/sval"
readme = "README.md"
exclude = [
    ".travis.yml",
    "ci/*"
]
license = "Apache-2.0 OR MIT"
keywords = ["serialization", "no_std"]
categories = ["encoding", "no-std"]

[package.metadata.docs.rs]
features = ["derive", "serde", "fmt", "test", "std"]

[badges]
travis-ci = { repository = "sval-rs/sval" }

[features]
# Support the standard library
std = ["alloc", "mesalock_sgx"]
mesalock_sgx = [
  "sgx_tstd",
]

# Support alloc
alloc = []

# Support stacks with an arbitrary depth
arbitrary-depth = ["alloc", "smallvec"]

# Add a custom derive for `Value`
derive = ["sval_derive"]

# Support integration with `core::fmt`
fmt = []

# Support integration with `serde`
serde = ["serde_lib"]

# Support streaming values as tokens
# that can be inspected in tests
test = ["std"]

[dependencies]
sgx_tstd = { git = "https://github.com/apache/incubator-teaclave-sgx-sdk.git", tag = "v1.1.1", optional = true }

[dependencies.smallvec]
git = "https://github.com/universal-secure-computing-community/crates-sgx.git"
tag = "v0.2.3+sgx1.1.1"
default-features = false
optional = true

[dependencies.serde_lib]
git = "https://github.com/universal-secure-computing-community/crates-sgx.git"
tag = "v0.2.3+sgx1.1.1"
optional = true
default-features = false
package = "serde"

[dependencies.sval_derive]
version = "0.5.1"
path = "./derive"
optional = true

[dev-dependencies.quickcheck]
version = "0.9"

[profile.release]
debug = true
